.Sidebar {
    width: 200px;
    border-right: 1px solid var(--border-color);
    padding: 8px;
}

.links {
    display: flex;
    flex-direction: column;
}

.link {
    padding: 8px 16px;
    border-radius: 8px;

    &:hover {
        background: #242424;
    }
}