.AddReplyForm {
    display: flex;
    padding: 14px;
    border-bottom: 1px solid var(--border-color);
}

.button {
    margin-left: 7px;
    align-self: flex-end;
    padding: 7px 14px;
    border-radius: 5px;
    font: var(--font-l);

    &:hover {
        opacity: 0.8;
    }
}