.AuthForm {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.AuthForm>* {
    margin-top: 16px;
}

.title {
    margin-bottom: 16px;
    font: var(--font-l);
    font-weight: 800;
}

.button {
    align-self: flex-end;
    font: var(--font-l);
}