.AppButton {
    cursor: pointer;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear {
    border: none;
    background: none;
    outline: none;
}

.primary {
    border: none;
    background: var(--highlight-color);
    outline: none;
    color: #fff;
}