.AppButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--primary-color);
    border: none;
    border-radius: 8px;
    padding: 8px;
}

.clear {
    background: none;
    border: none;

    &:hover {
        background: var(--hover-color);
    }
}

.primary {
    background: var(--highlight-color);
    padding: 8px 16px;

    &:hover {
        opacity: 0.9;
    }
}